{% extends 'base.html' %}
{% load static %}
{% block title %} Realizeza o programare cosmetica {% endblock %}

{% block content %}
    
    <div class="container-fluid local-background">
        <div class="row" style="object-fit: cover; margin-top:3vh">
            <div class="col-md-6  offset-md-9 ">
                <div class="card" style="background: transparent">

                    <div class="card-header top">
                        <h2 class="text-center" style="color: rosybrown">Realizeaza o programare cosmetica</h2>
                    </div>
                    <form method="post" style="height: auto">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form }}
                        </div>
                        <div class="card-footer text-center" style="background: transparent">
                            <button type="submit" class="btn btn-outline-success">Save</button>
                            <a href="{% url 'list_cosmetica' %}" class="btn btn-outline-danger">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <video src="{% static 'cosmetica/makeup_1.mp4' %}" class="interactive" type="video/mp4"  autoplay loop muted></video>
    <style>

.interactive{
    max-width: 90%;
    position: fixed;
    left: 0;
    top: 50px;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;

}
.local-background {
    background: rgba(0,0,0,0.2)!important;

}


</style>
{% endblock %}


