{% extends 'base.html' %}

{% block title %}
    Details booking cosmetica
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="card text-center">
            <div class="card-header">
                <h2>Details booking cosmetica</h2>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{ cosmetica.full_name }}</h3>
                <p class="card-text">Booking date: {{ cosmetica.booking_date }}, Booking time: {{ cosmetica.booking_time }},<br/>
                    <br>
                Descriere: {{ cosmetica.notes  }}</p>
                <a href="{% url 'list_cosmetica' %}" class="btn btn-primary">Cancel</a>
            </div>
            <div class="card-footer text-body-secondary">
                Creat la: {{ cosmetica.created_at }}; Update la: {{ cosmetica.updated_at }}
            </div>
        </div>
    </div>
    <style>
   
    .card{
        margin-top: 50px;
        display: flex;
        border: 3px solid black;
        background: grey;
        font-weight: bolder;
        
    }
    
    .card-title{
        color: darkred;
    }
    body{
        background-color: gray;
       
    }
    
    </style>
    
{% endblock %}