{% extends 'base.html' %}
{% load static %}
{% block title %} Lista programari cosmetica {% endblock %}

{% block content %}
    <div class="container-fluid backgroond">
        <div class="row">
            <div class="col-sm-12 col-md-12 gy-0">
            <div class="text">
                <h3 class="text-center">Lista programari Cosmetica & Makeup</h3>
            </div>
            
                <table class="table table-success table-striped-columns">
                    <thead>
                    <tr>
                        <th>Full name</th>
                        <th>Booking Date</th>
                        <th>Booking Time</th>
                        <th>Notes</th>
                        <th>Created at</th>
                        <th>Update at</th>
                        <th>Update booking</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for list in all_list_cosmetica %}
                        <tr>
                            <td>{{ list.full_name }}</td>
                            <td>{{ list.booking_date|date:"d-m-Y" }}</td>
                            <td>{{ list.booking_time|time:"H:i:s" }}</td>
                            <td>{{ list.notes }}</td>
                            <td>{{ list.created_at|date:"d-m-Y H:i:s" }}</td>
                            <td>{{ list.updated_at|date:"d-m-Y H:i:s" }}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-success dropdown-toggle btn_cosmetica" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                        Update booking
                                    </button>
                                    <ul class="dropdown-menu" style="background: mediumseagreen">
                                        <li><a class="dropdown-item" href="{% url 'update_booking_cosmetica' list.id %}">Update</a></li>
                                        <li><a class="dropdown-item" href="{% url 'delete_booking_cosmetica' list.id %}">Delete</a></li>
                                        <li><a class="dropdown-item" href="{% url 'detail_booking_cosmetica' list.id %}">Details booking </a></li>
                                        
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <style>
    
    
    .text{
        color: green;
        margin-top: 20px;
        animation: text;
        animation-duration: 20s;
        transition: 1s;
       
    }
    
    @keyframes text{
        from {color: green;}
        to {color: tomato;}
        to {color: saddlebrown}
       
    }
    body { 
        background: grey
    }
    
    </style>
{% endblock %}  


