{% extends 'base.html' %}
{% load static %}
{% block title %} Lista programari cosmetica {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 gy-5">
            <div class="text">
                <h2 class="text-center">Lista programari Cosmetica & Makeup</h2>
            </div>
            <br/> <br/>
                <table class="table table-success table-striped-columns
        table table-bordered border-success table-group-divider ">
                    <thead>
                    <tr>
                        <th>Full name</th>
                        <th>Booking Date</th>
                        <th>Booking Time</th>
                        <th>Notes</th>
                        <th>Created at</th>
                        <th>Update at</th>
                        <th>Update booking</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for list in all_list_cosmetica %}
                        <tr>
                            <td>{{ list.full_name }}</td>
                            <td>{{ list.booking_date|date:"d-m-Y" }}</td>
                            <td>{{ list.booking_time|time:"H:i:s" }}</td>
                            <td>{{ list.notes }}</td>
                            <td>{{ list.created_at|date:"d-m-Y H:i:s" }}</td>
                            <td>{{ list.updated_at|date:"d-m-Y H:i:s" }}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-danger dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                        Update booking
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'update_booking_cosmetica' list.id %}">Update</a></li>
                                        <li><a class="dropdown-item" href="{% url 'delete_booking_cosmetica' list.id %}">Delete</a></li>
                                        <li><a class="dropdown-item" href="{% url 'detail_booking_cosmetica' list.id %}">Details booking </a></li>
                                        
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <img src="{% static 'cosmetica/poza_2.jpg' %}" class="cosmetica_backgroond">
{% endblock %}   