{% extends 'base.html' %}
{% load static %}

{% block title %} Creaza o noua rezervare {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row" style="margin-top: 5vh">
            <div class="col-sm-12 col-md-6 offset-md-3">
                <div class="card" style="background: transparent; box-sizing: border-box; border: 2px solid black;">

                    <div class="card-header">
                        <h1 class="text-center" style="color: green">Programare coafor</h1>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-success">Save</button>
                            <a href="{% url 'home' %}" class="btn btn-outline-danger">Cancel</a>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <video src="{% static 'coafor1.mp4' %}" class=" img-fluid interactiv_coafor" type="video/mp4" controls
           autoplay></video>

    <style>
        .interactiv_coafor {
            max-width: 90%;
            position: fixed;
            left: 0;
            top: 50px;
            min-height: 100%;
            min-width: 100%;
            z-index: -1;
        }

        .interactiv_coafor {
            background: rgba(0, 0, 0, 0.2) !important;

        }
    </style>
{% endblock %}