{% extends 'base.html' %}
{% load static %}

{% block title %} B'You Studio {% endblock %}

{% block content %}


    <div class="container-fluid text-center video">
        <video src="{% static 'video_1.mp4' %}" class="interactive-img" type="video/mp4" controls autoplay></video>

    </div>
    
    
    <style>
    .interactive-img {
        border: 1px solid rosybrown;
        width: 100%;
        height: 850px;
        
     
        
        
       
    }
    
    
</style>
{% endblock %}

