{% extends 'base.html' %}
{% load static %}

{% block title %} B'You Studio {% endblock %}

{% block content %}


    <div class="container-fluid text-center video">
        <video src="{% static 'video1.mp4' %}" class="interactive-img" type="video/mp4" controls autoplay></video>

    </div>
{% endblock %}

<style>
    .interactive-img {
        
        position: fixed;
        left: 0;
        top: 50px;
        min-height: 50%;
        min-width: 100%;
        z-index: -1;
    }
    .interactive-img
    {
        background: rgba(0, 0, 0, 0.2) !important;
    }

</style>