{% extends 'base.html' %}
{% load static %}
{% block title %} Update booking manipedi {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 gy-3">
                <div class="card">
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-header">
                            <h3 class="text-center">Update booking Manichiura & Pedichiura</h3>
                        </div>
                        <div class="card-body">
                            {{ form }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-danger">Update</button>
                            <a href="{% url 'list_booking_manipedi' %}" class="btn btn-outline-success">Cancel</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <img src="{% static 'manipedi1.png' %}" class="img" alt="update"/>

    <style>

        .img {
            min-height: 100%;
            width: 100%;
            height: auto;
            position: fixed;
            top: 1vh;
            left: 0;
            z-index: -1;
        }

        .card {
            background: transparent;
            margin-top: 6vh;
            margin-left: 20px;
            border: 3px solid black;
        }
    </style>

{% endblock %}