{% extends 'base.html' %}
{% block title %} Lista programari frizerie {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Full name</th>
                            <th>Booking Date</th>
                            <th>Booking Time</th>
                            <th>Notes</th>
                            <th>Created at</th>
                            <th>Update at</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rezervare in all_list_of_frizerie %}
                            <tr>
                                <td>{{ rezervare.full_name }}</td>
                                <td>{{ rezervare.booking_date|date:"d-m-Y" }}</td>
                                <td>{{ rezervare.booking_time|time:"H:i:s" }}</td>
                                <td>{{ rezervare.notes }}</td>
                                <td>{{ rezervare.created_at|date:"d-m-Y H:i:s" }}</td>
                                <td>{{ rezervare.updated_at|date:"d-m-Y H:i:s" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}   