{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding:0">
    <div class="container-fluid" style="background: rosybrown; padding: 0.75rem">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'byou.png' %}" class="Logo">
        </a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        {% if user.is_authenticated %}

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="width: 50px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor"
                         class="bi bi-house-door nav-style-costum" style="color: deeppink" viewBox="0 0 15 15">
                        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"></path>
                    </svg>
                </a>
            </li>


            <li class="nav-item dropdown" style="font-family: Verdana,serif">
                <a class="nav-link dropdown-toggle nav-style-costum" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Coafor
                </a>
                <ul class="dropdown-menu" style="background: rosybrown">
                    <li><a class="dropdown-item" href="{% url 'create_booking_coafor' %}" style="color: deeppink">Fa o
                        programare</a></li>
                    <li><a class="dropdown-item" href="{% url 'list_booking_coafor' %}" style="color: deeppink">Lista
                        programari</a></li>
                </ul>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-style-costum" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Frizerie
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'create_booking_frizerie' %}">Fa o programare</a></li>
                    <li><a class="dropdown-item" href="{% url 'list_booking_frizerie' %}">Lista programari</a></li>
                </ul>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-style-costum" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Manichiura & Pedichiura
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'create_booking_manipedi' %}">Fa o programare</a></li>
                    <li><a class="dropdown-item" href="{% url 'list_booking_manipedi' %}">Lista programari</a></li>
                </ul>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-style-costum" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Cosmetica & Makeup
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'create_booking_cosmetica' %}">Fa o programare</a>
                    </li>
                    <li><a class="dropdown-item" href="{% url 'list_cosmetica' %}">Lista programari</a></li>
                </ul>
            </li>
        {% endif %}

        </ul>


        {% if user.is_authenticated %}

            <div class="Icons" style="">
                <a href="#">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
                <a href="#">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>

                <a href="#">
                    <ion-icon name="logo-google"></ion-icon>
                </a>
            </div>


            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-success">
                    Logout, {{ user.username }}</button>
            </form>

        {% else %}


            <div class="login">
                <a href="{% url 'login' %}" class="btn btn-outline-danger">Login</a>
                <a href="{% url 'create_user' %}" class="btn btn-outline-success">Signup</a>
            </div>

        {% endif %}

        </div>
    </div>

    <style>
        .nav-style-costum {
            transition: all 0.2s;
        }

        .nav-style-costum:hover {
            background: palevioletred;
            border-radius: 100px;
            color: white !important;
        }

        .Icons a {
            text-decoration: none;
            color: green;
        }

        .Icons {
            color: white;
            font-size: 30px;
            padding-right: 40px;
            padding-top: 1vh;
            transition: 0.4s;

        }

        .Icons a:hover {
            color: white;
        }

        .Logo {
            border: 2px solid deeppink;
            border-radius: 20px;
            width: 120px;
            height: 50px;
            mix-blend-mode: multiply;
            margin-left: 50px;
            animation-name: glow;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            
        }
        @keyframes glow{
            50%{box-shadow: 0 0 50px deeppink;
            }
            
        }
           

       
        
        

    </style>
</nav>
